<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <label>User ID: </label><br>
        <input type="number" name="id" placeholder="Student/Staff ID"><br><br>
        
        <label>First name: </label><br>
        <input type="text" name="first_name"><br><br>
        
        <label>Last name: </label><br>
        <input type="text" name="last_name"><br><br>
        
        <label>E-mail: </label><br>
        <input type="email" name="email"><br><br>
        
        <label>Contact: </label><br>
        <input type="tel" name="contact"><br><br>
        
        <label>Password: </label><br>
        <input type="password" name="password"><br><br>
        
        <label for="portfolios">Portfolio: </label><br>
        <select id="portfolio" name="portfolio_id">
          <option value="1">College Provost</option>
          <option value="2">College Registrar</option>
          <option value="3">College Dean</option>
          <option value="4">Facility Manager</option>
          <option value="5">Security Head</option>
          <option value="6">HOD</option>
          <option value="7">Patron</option>
          <option value="8">Dept. Secretary</option>
          <option value="9">Association President</option>
          <option value="10">Ass. Vice President</option>
          <option value="11">Ass. Gen. Secretary</option>
          <option value="12">Ass. Fin. Secretary</option>
        </select><br><br>
        
        <label>Department: </label><br>
        <select id="department" name="department_id">
          <option value="None">None</option>
          <option value="CoE">Computer Engineering</option>
          <option value="BME">Biomedical Engineering</option>
          <option value="EE">Electrical Engineering</option>
          <option value="TE">Telecommunications Engineering</option>
          <option value="ME">Mechanical Engineering</option>
          <option value="PE">Petroleum Engineering</option>
          <option value="MaE">Materials Engineering</option>
        </select><br><br>

        <label>Faculty: </label><br>
        <input type="text" name="faculty_id"><br><br>
        
        <label>College: </label><br>
        <input type="text" name="college_id"><br><br>
        
        <label>Choose user image: </label><br>
        <input type="file" name="user_img"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
